<!DOCTYPE html>
<html>

<head>
    <title>我的导航栏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.min.js"></script>
    <link rel="stylesheet" href="./daohang.css">
</head>

<body>
    <div class="topNavBar">
        <div class="topNavBar-inner clearfix">
            <!--clearfix可以解决float所造成的已知的bug-->
            <a class="logo" href="#" alt="logo" style="float:left;">
                <!--浮动，表明元素必须浮动在其所在的块容器左侧的关键字-->
                <span class="blake">Blake</span><span class="yang">Yang</span>
            </a>
            <nav style="float:right;">
                <ul class="clearfix">
                    <li><a href="#">See the World</a></li>
                    <li><a href="#">Graduation Project</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Learning Resources</a></li>
                    <li><a href="#">Entertainment</a></li>
                    <li><a href="#">Contact Information</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="banner"></div>
    <div class="middle">
        <div class="parents clearfix">
            <div class="leftChild">
                <strong>{{left_title}}</strong>
                <ol>
                    <li v-for="(item , index) of hrefs" v-on:click="window.open(item.href,'_blank')">{{item.value}}</li>
                </ol>
            </div>
            <div class="rightChild">
                <strong>{{right_title}}</strong>
                <ol>
                    <li v-for="(item , index) of hrefs":key="index" v-on:click="window.open(item.href,'_blank')">{{item.value}}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <span class="open" v-on:click="moveout">三</span>
        <div class="content" v-bind:class={active:key}>
            <span class="close" v-on:click="movein">三</span>
            <ol class="list">
                <li v-for="(item, index) of hrefs":key="index" v-on:click="window.open(item.href,'_blank')">{{item.value}}</li>
            </ol>
        </div>
    </div>

    <div class="wrapper">
        <span class="container">
            <input id="keyword" type="text" autocomplete="off">
        </span>
        <button id="button">search</button>
    </div>

    <script src="./main.js"></script>
    <script src="index.js"></script>

</body>


</html>